@{
    ViewData["Title"] = "Dashboard";
}
@model IList<JavCrawl.Models.DbEntity.JobListCrawl>
<div style="margin-top:30px">
    <h3>@ViewBag.Message</h3>
    <br />
    <a target="_blank" href="/Video?link=http://jav789.com/movie/matsuri-kadota-knocked-a-beautiful-wife-down-let-s-have-your-dirty-dream-come-true-261.html">Check GetLink</a>
    <hr />
    @using (Html.BeginForm("SetSchedule", "Home", FormMethod.Post))
    {
        <fieldset>
            @Html.ValidationSummary(true)
            <span>Link:</span>
            <br />
            <input class="form-control" type="url" style="width:100%; max-width:none;" name="link" placeholder="http://javhihi.com/movie?sort=published&page=137&ajax=1" />
            <br />
            <span>Schedule:</span>
            <br />
            <input class="form-control" name="schedule" style="width:200px;" type="datetime" value="@DateTime.Now" /> <input name="always" type="checkbox" /><span>Nonstop</span>
            <br />
            <br />
            <input type="submit" value="Set Schedule" class="btn btn-danger" />
            <br />
            <br />
        </fieldset>
    }   
    <hr />
    <br />
    <table class="table table-responsive table-bordered">
        <thead>
            <tr style="font-weight:bold; text-align:center">
                <td>Link</td>
                <td>Start/ Finish</td>
                <td>Comp/ Uncomp</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <label class="label label-danger" title="@item.Error">
                        @switch (item.Status)
                        {
                            case 1:
                                <i>Inprocessing</i>
                                break;

                            case 2:
                                <i>Completed</i>
                                break;

                            case 3:
                                <i>Error</i>
                                break;
                            default:
                                <i>New</i>
                                break;
                        }
                    </label>

                    @if (item.Always == 1)
                    {
                        <label class="label label-info">run daily</label>
                    }
                    @item.Link
                    <label class="label label-default">@item.ScheduleAt</label>
                </td>
                <td><label class="label label-warning">@item.StartAt - @item.FinishAt</label></td>
                <td>
                    <label class="label label-success">@item.Complete/@item.UnComplete</label>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>