@{
    ViewData["Title"] = "Dashboard";
}
@model IList<JavCrawl.Models.DbEntity.JobListCrawl>
<div>
    <h3>@ViewBag.Message</h3>
    <br />
    <a target="_blank" href="/Video?link=http://jav789.com/movie/matsuri-kadota-knocked-a-beautiful-wife-down-let-s-have-your-dirty-dream-come-true-261.html">Check GetLink</a>
    <hr />
    @using (Html.BeginForm("SetSchedule", "Home", FormMethod.Post))
    {
        <fieldset>
            @Html.ValidationSummary(true)
            <span>Link:</span>
            <br />
            <input class="form-control" type="url" style="width:100%; max-width:none;" name="link" placeholder="http://javhihi.com/movie?sort=published&page=137&ajax=1" />
            <br />
            <span>Schedule:</span>
            <br />
            <input class="form-control" name="schedule" style="width:200px;" type="datetime" value="@DateTime.Now" /> <input name="always" type="checkbox" /><span>Nonstop</span>
            <br />
            <br />
            <input type="submit" value="Set Schedule" class="btn btn-danger" />
            <br />
            <br />
        </fieldset>
    }
    <hr />
    @using (Html.BeginForm("Index", "Video", FormMethod.Get))
    {
        <input name="link" type="url" class="form-control" style="width:100%;max-width:none" />
        <input type="submit" value="View video" class="btn btn-default" />
    }
    <hr />
    <br />
    <br />
    <table class="table table-responsive table-bordered">
        <thead>
            <tr style="font-weight:bold; text-align:center">
                <td>Link</td>
                <td>Schedule Time</td>
                <td>Start Time</td>
                <td>Finish Time</td>
                <td>Nonstop</td>
                <td>Complete</td>
                <td>Uncomplete</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Link</td>
                <td>@item.ScheduleAt</td>
                <td>@item.StartAt</td>
                <td>@item.FinishAt</td>
                <td><input type="checkbox" disabled checked="@(item.Always)" /></td>
                <td>@item.Complete</td>
                <td>@item.UnComplete</td>
                <td>
                    @switch (item.Status)
                    {
                        case 1:
                            <i>Inprocessing</i>
                            break;

                        case 2:
                            <i>Completed</i>
                            break;

                        case 3:
                            <i>Error</i>
                            @Html.Hidden("Error", item.Error)
                            break;
                        default:
                            <i>New</i>
                            break;
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@*<script>
    setTimeout(function () {
                        window.location.reload(1);
                    }, 30000);
</script>*@