@model JavCrawl.Models.YoutubeModel

@{
    ViewData["Title"] = "Youtube Commenter";
}

<h2>Youtube Commenter</h2>

@using (Html.BeginForm("Index", "Youtube"))
{
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.Search)</label>
                @Html.TextBoxFor(x => x.Search, new { Class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.Max)</label>
                @Html.TextBoxFor(x => x.Max, new { Class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.PublishedAfter)</label>
                @Html.TextBoxFor(x => x.PublishedAfter, new { Class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.Lat)</label>
                @Html.TextBoxFor(x => x.Lat, new { Class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.Lon)</label>
                @Html.TextBoxFor(x => x.Lon, new { Class = "form-control" })
            </div>
            <div class="col-md-4">
                <label class="control-label">@Html.DisplayNameFor(x => x.Radius)</label>
                @Html.TextBoxFor(x => x.Radius, new { Class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <a asp-area="" asp-controller="Youtube" asp-action="OAuth">Authorize</a>
                <br />
                <label class="control-label">@Html.DisplayNameFor(x => x.CommentText)</label>
                @Html.TextAreaFor(x => x.CommentText, new { Class = "form-control", Style = "max-width: 100%; height: 100px;" })
            </div>
        </div>
        @if (Model.Videos != null && Model.Videos.Count > 0)
        {
            var obj = Model.Videos[0];
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">@Html.DisplayNameFor(x => x.PageToken)</label>
                @if (!string.IsNullOrWhiteSpace(obj.TokenPrevPage))
                {
                    <a class="label label-success" href="javascript:void(0);" onclick="$('#PageToken').val('@obj.TokenPrevPage');">Prev Page</a>
                }
                @if (!string.IsNullOrWhiteSpace(obj.TokenNextPage))
                {
                    <a class="label label-success" href="javascript:void(0);" onclick="$('#PageToken').val('@obj.TokenNextPage');">Next Page</a>
                }
                @Html.TextBoxFor(x => x.PageToken, new { Class = "form-control" })
            </div>
        </div>
        @section Scripts {
        <script>
            
            $(document).ready(function () {

                var issubmiting = false;
                
                var intervalobj = setInterval(() => {
                    if ($('#PageToken').val() != '@obj.TokenNextPage' && $('input[name=SelectedVideo]').length > 0) {

                        $('#PageToken').val('@obj.TokenNextPage');

                        $('form').submit();

                        issubmiting = true;

                        console.log('submiting...')
                    }
                    else {
                        if (!issubmiting)
                            console.log('no results, please change your keywords');

                        clearInterval(intervalobj);
                    }

                }, 100000);
            });

        </script>
        }
        }
        
        <br />
        <div class="row">
            <div class="col-md-12">
                <label class="control-label"> </label>
                <input type="submit" value="Submit" class="btn btn-danger" id="btnsubmit" />
            </div>
        </div>
    </fieldset>
<hr />
<fieldset>
    @if(Model.Videos == null)
    {
        <div>No Results</div>
    }
    else
    {
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Published At
                    </th>
                    <th>
                        <input name="checkall" checked type="checkbox" id="checkall" onclick="var ischecked = $(this).is(':checked'); $('input[name=SelectedVideo]').each(function () { if (!$(this).prop('disabled')) $(this).prop('checked', ischecked);});"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                }
                @foreach (var item in Model.Videos.OrderByDescending(x=>x.PublishedAt))
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @if (item.CommentedAt != null)
                            {
                            <label class="label label-danger" title="At @item.CommentedAt">Commented</label>
                            }
                            else
                            {
                            <label class="label label-warning">New</label>
                            }
                            <a href="https://www.youtube.com/watch?v=@item.VideoId" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedAt)
                        </td>
                        <td>
                            @if (item.CommentedAt == null)
                            {
                            <input type="checkbox" checked value="@item.VideoId|@item.ChannelId" name="SelectedVideo" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</fieldset>
}