@page
@model Football.Show.ViewModels.PagingResult
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    @foreach (var match in Model.Matches)
    {
        <div class="col-md-4 match">
            <div class="center-block text-center">
                <a href="/match/@match.Slug" title="@match.Title">
                    <img class="img-thumbnail img-responsive" alt="@match.Title" title="@match.Title" src="/images/2019-04-14-crystal-palace-vs-manchester-city-highlights-full-match.jpg" />
                </a>
            </div>
            <div class="center-block text-center item-title-block">
                <div class="text-left title">
                    <h4>
                        <a href="/match/@match.Slug" title="@match.Title">@match.Title</a>
                    </h4>
                    <label class="label label-info"><span class="glyphicon glyphicon-time"></span> @string.Format("{0:MMM dd, yyyy}", match.MatchDate)</label>
                </div>
            </div>
        </div>
    }
</div>
@if (Model != null && Model.TotalPage > 1)
{
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
}